<!DOCTYPE html>
<html>
    <head>
        <title>php-build</title>
        <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    </head>
    <body class="page">
        <div class="content">
            {{ content }}

            <div class="footer" role="siteinfo">
                php-build is brought to you by 
                <a href="http://christophh.net">Christoph Hochstrasser</a>
                <span class="amp">&amp;</span>
                <a href="https://github.com/CHH/php-build/contributors">
                    Contributors
                </a>
            </div>
        </div>
    </body>
</html>
